<div class="info">
    <p class="info-text">
        Хочешь узнать больше о подкасте и его ведущих или предложить тему для обсуждения?
    </p>
    <a class="info-link" href="/about">
        О подкасте
    </a>
</div>