* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
}

.footer,
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
}

.footer {
  background-color: #ECECEC;
}

.header {
  background-color: #FDBD59;
}


.header__link,
.header__buttons {
  width: 27%;
}

.footer__buttons,
.header__buttons {
  text-align: right;
}

.footer__buttons .button,
.header__buttons .button {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin-left: 8px;
}

.header > a:link,
.header > a:visited,
.header > a:hover {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

header > a:hover {
  text-decoration: underline;
}

.description {
  font-size: 15px;
  color: #121111;
  text-align: center;
  line-height: 150%;
  margin: 10px 0;
}

.about-podcast {
  text-align: left;
  text-indent: 1em;
}

.platforms-top,
.platforms-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.platforms-top .platform {
  min-width: 85px;
  width: 30%;
}

.platforms-bottom .platform {
  min-width: 80px;
  width: 20%;
}

.platform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  margin-top: 15px;
  background-color: #F4F1F1;
}

.platform:first-child {
  margin-left: 0;
}

.platform:last-child {
  margin-right: 0;
}

.episode {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  border-radius: 6px;
  background-color: #f1f3f4;
}

.episode-chevron {
  width: 20px;
  background-image: linear-gradient(to top right,#ff6d28,#ff864d, #fdbd59);
}

.episode-info {
  width: 100%;
  padding: 0 14px 0 20px;
}

.episode__description {
  font-size: 15px;
  height: 80px;
}

.episode__audio {
  margin: 0 -20px -4px;
  width: calc(100% + 35px);
}

.episode .title {
  margin: 40px 0 15px;
}

.separator {
  width: 40px;
  margin: 0;
  border-top: 1px solid #121111;
}

.link--home {
  flex-grow: 1;
  font-size: 2em;
}

.link--about {
  flex-grow: 1;
  font-size: 1em;
  text-align: right;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #FDBD59;
}

.info-text {
  font-size: 15px;
  text-align: center;
  margin: 0 0 20px 0;
}

.info-link {
  color: white;
  font-size: 15px;
  text-decoration: none;
  background-color: #121111;
  padding: 10px 28px;
  border-radius: 20px;
}

.separator-title {
  color: #121111;
  text-align: center;
  font-size: 32px;
  line-height: 140%;
  font-weight: normal;
  text-transform: uppercase;
  margin: 40px 0 20px;
}

.member {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.member__image {
  width: 250px;
  margin: 0 auto;
}

.member__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member__role {
  margin: 0;
}

.member__description {
  font-size: 15px;
  line-height: 150%;
  text-indent: 1em;
}

main {
  padding: 10px 20px;
  word-wrap:break-word;
}

h1,
h2 {
  font-family: 'Roboto Slab', sans-serif;
  margin: 25px 0 2px 0;
}

h1 {
  font-size: 2em;
}

h1 > a:link,
h1 > a:visited {
  text-decoration: none;
}

h2 {
  font-size: 1.5em;
}

article img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 768px;
    margin: 0 auto;
  }

  .member {
    flex-direction: row;
    align-items: center;
  }
}