---
layout: layouts/base.njk
---

<header>
  {% set instagram %}
    {{ links.social.instagram }}
  {% endset %}
  {% set mail %}
    {{ links.social.mail }}
  {% endset %}
  {% import "components/header.njk" as header %}
  {{ header.link('Выпуски', '/', instagram, mail) }}
</header>
<main>
    {% import "components/description.njk" as description %}
    {{ description.text(data.intro) }}

    {% include "components/platforms.njk" %}

    {% import "components/title.njk" as separator %}
    {{ separator.title('О  подкасте') }}

    {% import "components/description.njk" as description %}
    {{ description.text(data.aboutPodcast, "about-podcast") }}

    {% import "components/title.njk" as separator %}
    {{ separator.title('Ведущие подкаста') }}

    {% import "components/member.njk" as member %}
    {{ member.member(members.pavel) }}
    {{ member.member(members.valentina) }}

</main>

<footer>
  {% include "components/footer.njk" %}
</footer>